
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section Style{ }

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Đây là trang chủ</h1>
        </div>
    </div>
</div>

@section Script{ }
