
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section Style{
    <style>
    </style>
}

<h1>Index</h1>

@section Script{
    <script>

    </script>
}

