@model Entities.TaiKhoan

@{
    ViewData["Title"] = "UpdateAsync";
    Layout = "~/Areas/Admin/Views/Share/_Layout.cshtml";
}

<h1>UpdateAsync</h1>

<h4>TaiKhoan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTK" class="control-label"></label>
                <input asp-for="IdTK" class="form-control" disabled/>
                <span asp-validation-for="IdTK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenTK" class="control-label"></label>
                <input asp-for="TenTK" class="form-control" />
                <span asp-validation-for="TenTK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label"></label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuyenSD" class="control-label"></label>
                @if (Model.QuyenSD)
                {
                <div class="form-check">
                    <input type="radio" asp-for="QuyenSD" class="form-check-input" value=false id="QuyenSD1" checked />
                    <label class="form-check-label" for="QuyenSD1">
                        Người dùng
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="QuyenSD" class="form-check-input" value=true id="QuyenSD2" />
                    <label class="form-check-label" for="QuyenSD2">
                        Quản trị viên
                    </label>
                </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

